h1 {
    color: #C3073F;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0.5rem;
}

::placeholder {
    color: #c5c6c7;
}

.search {
    background-color: #6F2232;
    font-weight: bold;
    color: #c5c6c7;
}

textarea:focus, input:focus{
    outline: none;
}

.header {
    background-color: #6F2232;
    color: #c5c6c7;
}

.card-item {
    flex-grow: 1;
    min-width: 200px;
    max-height: 250px;
}

.card-list {
    margin-left: 5%;
    margin-right: 5%;
}

.page-link {
    color: #c5c6c7;
    background-color: #6F2232;
    border-color: #6F2232;
}

.page-link:hover {
    color: darkslategray;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.page-item.active .page-link {
    color: #1A1A1D;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
}

.page-item.disabled .page-link {
    color: #F5F5F5;
    background-color: rgba(121, 122, 123, 0.4);
    border-color: rgba(121, 122, 123, 0.4);
}

@media screen and (max-width: 500px) {
    .pagination-sm {
        margin-left: 7%;
        margin-right: 7%;
    }

    .page-number {
        display: none;
    }

    .page-item {
        flex-grow: 1;
    }
}

/* Absolute Center Spinner */
.loading {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}